# ShopEZ Express Server Configurations

# Node environment (development, production, testing)
NODE_ENV=development

# Server port (defaults to 5000)
PORT=5000

# MongoDB Connection URI (Local instance or MongoDB Atlas cluster connection string)
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<db-name>?retryWrites=true&w=majority

# JWT signing secret key (Ensure a strong, cryptographically secure random string is used in production)
JWT_SECRET=your_jwt_signing_secret_key_here
